# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Checkpoints
actual_training_checkpoints/
temp_training_checkpoints/

# temporary scripts
temp/

# Results
test_result.txt
analyses/atom_encoder/graph_embedding/*.pt
analyses/atom_encoder/graph_embedding/*.txt
analyses/atom_encoder/*.pt

# Logs
logs/
scheduler.log
task_info