# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Checkpoints
actual_training_checkpoints/
temp_training_checkpoints/

# temporary scripts
temp/

# Results
test_result.txt
analyses/atom_encoder/graph_embedding/*.pt
analyses/atom_encoder/graph_embedding/*.txt
analyses/atom_encoder/*.pt

# Logs
logs/
scheduler.log
task_info

# Data & plots
*.data
*.png
*.gnuplot
table.txt
training_molkgnn/best_model_metric_epoch=*.ckpt
training_molkgnn/lightning_logs


.vscode