# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Checkpoints
actual_training_checkpoints/
temp_training_checkpoints/
utils/atom_encoder/graph_embedding/*.pt
utils/atom_encoder/graph_embedding/*.txt
utils/atom_encoder/*.pt

# Results
test_result.txt